<div class="col-md-4">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= contact.first_name %> <%= contact.last_name %></h5>
      <p class="card-text">
        <strong>Email:</strong> <%= contact.email %><br>
        <strong>Address:</strong> <%= contact.address %><br>
        <strong>Date of birth:</strong> <%= contact.date_of_birth %><br>
        <strong>Gender:</strong> <%= contact.gender %><br>
      </p>
      <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-outline-success' %>
      <%= link_to 'Delete', contact_path(contact), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>
