<div class="col-md-4">
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><%= contact.name %> <%= contact.last_name %></h5>
      <p class="card-text">
        <strong>Email:</strong> <%= contact.email %><br>
        <strong>Dirección:</strong> <%= contact.address %><br>
        <strong>Fecha de nacimiento:</strong> <%= contact.birthday %><br>
        <strong>Género:</strong> <%= contact.gender %><br>
      </p>
      <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-primary' %>
      <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
